<div class="display">
  <div class="display__item" (mouseover)="onShowConfig(true)" (mouseleave)="onShowConfig(false)">
    <span class="display__item__step"></span>
    <i class="display__item__step__icon material-icons">text_fields</i>
    <div class="display__item__label">
      <h5 class="title">article-display works!</h5>
      <p class="description">
        um pequenso teto de soe dasjkd lkasj dlkasjd
      </p>
    </div>
    <div class="display__item__config">
        <a href="" class="buttons">
          <i class="material-icons icon">edit</i>
        </a>
        <a href="" class="buttons">
          <i class="material-icons icon">delete</i>
        </a>

      </div>
    <!-- <span ></span> -->
    <small class="display__item__text"></small>
  </div>
  <div class="display__item" (mouseover)="onShowConfig(true)" (mouseleave)="onShowConfig(false)">
    <span class="display__item__step"></span>
    <i class="display__item__step__icon material-icons">collections</i>
    <p class=display__item__label>nomde_da_image_dasd.png</p>
    <div class="display__item__config">
      <a href="" class="buttons">
        <i class="material-icons icon">edit</i>
      </a>
      <a href="" class="buttons">
        <i class="material-icons icon">delete</i>
      </a>

    </div>
  </div>
</div>
