@import '~@angular/material/theming';


:host{
  width: 50%;
  padding: 1rem .3rem 1rem 1.5rem;
  box-shadow: -3px 0px 5px -5px rgba(0,0,0,0.75);
  // @include mat-elevation(1);
  // background-color: red;
}
.display{
  // background-color: aquamarine;
  display: flex;
  flex-direction: column;

  &__item{
    // background-color: chocolate;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    // width: 100%;
    transition: all .55s ease;

    &:hover{
      @include mat-elevation(2);
    }

    &__step{
      width: 1px;
      min-height: 5rem;
      height: 100%;


      background-color: #666;
      position: relative;

      &::before{
        content: ' ';
        width: 1rem;
        height: 1rem;
        display: block;
        position: absolute;
        border-radius: 5rem;
        background-color: #666;
        bottom: -.5rem;
        left: -.5rem;
      }

      &__icon{
        margin: 1rem 2rem ;
      }
    }

    &__label{
      display: flex;
      flex-direction: column;


      .title{
        font-size: .8rem;
        margin: .1rem;
      }

      .description{
        margin: .1rem;
        font-size: .6rem;
        font-style: italic;
        color: #999999;

      }
    }

    &__config{
      margin-right: .5rem;
      display: flex;
      flex-direction: row;
      flex: 1 0;
      justify-content: flex-end;

      .buttons{
        margin: .5rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 5rem;
        border: 1px solid gray;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        .icon{
          font-size: 1rem;
        }
      }
    }

  }


}
