<div class="display">
  <div class="display__item" *ngFor="let article of articles">
    <span class="display__item__step"></span>

    <!-- icon type -->
    <i class="display__item__step__icon material-icons" *ngIf="article.type === 'paragraph'">text_fields</i>
    <i class="display__item__step__icon material-icons" *ngIf="article.type === 'image'">collections</i>

    <!-- image -->
    <p class=display__item__label *ngIf="article.type === 'image'">{{article.image}}</p>

    <!-- text -->
    <div class="display__item__label" *ngIf="article.type === 'paragraph'">
      <h5 class="title">{{article.subtitle}}</h5>
      <p class="description">{{article.description}}</p>
    </div>

    <!-- config -->
    <div class="display__item__config">
      <a href="" class="buttons">
        <i class="material-icons icon">edit</i>
      </a>
      <a href="" class="buttons">
        <i class="material-icons icon">delete</i>
      </a>

    </div>
  </div>


</div>
