<div class="specs">
    <div class="specs-title">
      <h3>Specifications</h3>
    </div>

    <div class="specs-row">
      <div class="specs-col">
        <mat-form-field>
          <input matInput placeholder="Agency">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Client">
        </mat-form-field>
      </div>
      <div class="specs-col">
        <mat-form-field>
          <input matInput placeholder="Role">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Credit">
        </mat-form-field>
      </div>
    </div>
  </div>
