<div class="project">
  <h1>Projects !</h1>

  <mat-card>
    <div class="project-list">
      <div class="project-list-item">
        <div class="project-list-item-infos">
          <h2 class="name">Name</h2>
          <h3 class="title">Titulo</h3>
          <h3 class="slug">slug-gasd</h3>
        </div>
        <div class="project-list-item-actions">
          <a href="" class="buttons">
            <i class="material-icons icon">edit</i>
          </a>
          <a href="" class="buttons">
            <i class="material-icons icon">delete</i>
          </a>
        </div>
      </div>
      <div class="project-list-item">
        <div class="project-list-item-infos">
          <h2 class="name">Name</h2>
          <h3 class="title">Titulo</h3>
          <h3 class="slug">slug-gasd</h3>
        </div>
        <div class="project-list-item-actions">
          <a href="" class="buttons">
            <i class="material-icons icon">edit</i>
          </a>
          <a href="" class="buttons">
            <i class="material-icons icon">delete</i>
          </a>
        </div>
      </div>
    </div>


  </mat-card>

</div>
