<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Projects</mat-card-title>
    <mat-card-subtitle>Create a new project!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="projects-row">
      <app-form-infos [infos]="getFormInfos()"></app-form-infos>
    </div>

    <div class="projects-row">
      <app-form-specs></app-form-specs>
    </div>

    <h3>Articles</h3>
    <div class="projects-row">
      <app-form-article></app-form-article>
      <app-article-display></app-article-display>
    </div>


    <div class="projects-submit">
      <button mat-raised-button color="primary">Save</button>
    </div>

  </mat-card-content>
</mat-card>
